body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    border: solid 2px black;
}

.reset {
    margin-bottom: 20px;
    padding: 5px 20px;
}



